<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/favorites.css" />
    <link rel="stylesheet" href="../styles/cards.css" />
    <script src="../functions/favorite.js" type="module" defer></script>
    <title>My Favorites</title>
  </head>
  <body id="body">
    <main>
      <h6>CASA ROYAL ESTATE AGENCY</h6>
      <h1>Favorite Properties</h1>
      <div id="cards-container"></div>
    </main>
  </body>
</html>
