@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

@media screen and (min-width: 1051px) {
  #toggle, #menu-icon {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    max-height: 85px;
    background-color: white;
    padding-bottom: 22px;
  }
  
  #location {
    width: 100vw;
    min-height: 4vh;
    background-color: #2A41E8;
  }
  
  #location b {
    color: white;
    padding-left: 5vw;
    position: relative;
    top: 7px;
    font-weight: lighter;
    font-size: 15px;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 25px;
    height: 55px;
    width: 100vw;  
  }
  
  nav .logo {
    height: 34px;
    padding-left: 2vw;
    padding-right: 1vw;
    position: relative;
    bottom: 5px;
  }
  
  nav .logotipo {
    height: 26px;
    padding-right: 1.5vw;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    min-width: 75px;
    margin-left: 1.3vw;
    margin-right: 1.3vw;
    padding-top: 4px;
    text-align: center;
  }
  
  #home {
    color: #2A41E8;
    font-weight: bold;
  }
  
  .submit-list {
    background-color: #FF5E14;
    color: white;
    margin: 0;
    box-sizing: content-box;
    position: absolute;
    right: 0;
    bottom: 3px;
    padding: 28.2px 25px;
  }
}



@media screen and (max-width: 1050px) {
  
  #location {
    display: none;
  }

  nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
  }
  
  nav img {
    margin: 20px;
    margin-right: 0;
  }
  
  .logotipo {
    margin-left: 5px;
    position: relative;
    bottom: 5px;
  }
  
  #toggle {
    appearance: none;
    position: absolute;
    right: 2vw;
    top: 2vw;
    width: 50px;
    height: 50px;
  }
  
  #toggle:checked {
    position: absolute;
    background-color: #2A41E8;
    right: 2vw;
    top: 2vw;
    width: 50px;
    height: 50px;

  }

  #menu-icon {
    position: absolute;
    right: 2.4vw;
    width: 50px;
    cursor: pointer;
  }
  
  .links {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: #2A41E8;
    gap: 20px;
    z-index: 2;
  }

  .hidden {
    display: none;
  }
  
  .links a {
    font-size: 23px;
    text-decoration: none;
    color: white;
  }
  
}

.links a:hover {
  color: #FF5E14;
}


